<div id="login-wrapper" class="png_bg">
	<div id="login-top">
			
		<h1><%=Tuge.name%></h1>
		<!-- Logo (221px width) -->
		<img id="logo" src="/images/logo.png" alt="Simpla Admin logo" />
	</div> <!-- End #logn-top -->
			
	<div id="login-content">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><p><%= f.label :login %>
  <%= f.email_field :login %></p></div>

  <div><p><%= f.label :name %>
  <%= f.email_field :name %></p></div>

  <div><p><%= f.label :email %>
  <%= f.email_field :email %></p></div>

  <div><p><%= f.label :password %>
  <%= f.password_field :password %></p></div>

  <div><p><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></p></div>

  <div><%= f.submit :class => 'button', :value => 'register' %></div>
  <%= render "links" %>
<% end %>

</div>


	 <!-- End #login-content -->
</div> 
