<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>系统 - 注册</title>
	<%=stylesheet_link_tag "/assets/style.css"%>
    <%=stylesheet_link_tag "/assets/reset.css"%>
    <%=stylesheet_link_tag "/assets/invalid.css"%>

	<%=javascript_include_tag "/assets/jquery-1.3.2.min"%>
	<%=javascript_include_tag "/assets/simpla.jquery.configuration"%>
	<%=javascript_include_tag "/assets/facebox"%>
	<%=javascript_include_tag "/assets/jquery.wysiwyg"%>
</head>

<body id='login'>
	<%= render_flash_messages.html_safe %>
	<%= yield %>
</body>
</html>